/* GLOBAL */
*,
*:before,
*:after {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
    color: #434455;
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;    
}

img {
    display: block;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* HEADER */
.header-title {
    border-bottom: 1px solid #e7e9fc;
    height: 72px;
    display: flex;
    align-items: center;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 1px 6px rgba(46, 47, 66, 0.08);
}

.navbar {
    display: flex;
    align-items: center;     
}

.navbar-container {
    display: flex;
    align-items: center;
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.span {
    color: #2e2f42;
}

.header-list-li .link {
    color:#2e2f42;
    padding: 24px 0;    
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navbar .link-studio {
    color: #404bbf;    
}

.header-list-li .link::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;      
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.header-ul {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#404bbf;
    display: flex;
    gap: 40px;
}

.header-ul .link:hover,
.header-ul .link:focus {
    color: #404bbf;
}

.adress {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}

.adress:hover,
.adress:focus {
    color: #404bbf
}

.address-container {
    font-style: normal;
    padding-left: 280px;
}

.address-list-ul {
    display: flex;
    gap: 40px;
}

/* FIRST PART */
.first-part {
    background-color: #2e2f42;
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                                      rgba(46, 47, 66, 0.7)),
                                      url(../images/img-name.jpg); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
    
}

.first-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color:#ffffff;
    max-width: 496px; 
    
}

.first-part-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

.first-button {
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:#ffffff;
    display: block;
    min-width: 169px;
    height: 56px;
    border:none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor:pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.first-button:hover,
.first-button:focus {
    background-color: #404bbf;
    cursor: pointer;
}

/* SECOND PART */
.second-part {
    padding-top: 120px;
    padding-bottom: 120px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.second-part ul {
    display: flex;
    gap: 24px;
}

.second-list-li {
    width: calc((100% - 72px) / 4)
}

.second-part-svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
}

.list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    margin-bottom: 8px;
}

.second-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* THRID PART */
.third-part {
    background-color: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.third-part ul {
    display: flex;
    gap: 24px; 
}  

.third-part li:hover,
.third-part li:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

.third-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
    margin-bottom: 72px;
}

.third-list {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    flex-basis: calc((100% - 3 * 24px) / 4);
    flex-basis: calc((100% - 72px) / 4);
    box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 
                 0px 1px 1px rgba(46, 47, 66, 0.16),
                 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.third-title-text-div {
    padding: 32px 0;
}

.third-list-title {
    text-align: center;
    margin-bottom: 8px;
}

.third-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.social-media-button-ul {
    display: flex;
    justify-content: center;
    gap: 24px;
   
}

.social-media-button-li {
    width: 40px;
    height: 40px;
}

.social-media-button {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media-button:hover,
.social-media-button:focus {
    background-color: #404bbf;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-svg {   
    fill: #f4f4fd
}

/* FOURTH PART */
.fourth-part {
    padding-top: 120px;
    padding-bottom: 120px;
    margin-bottom: 72px;
}

.fourth-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
    margin-bottom: 72px;
}

.fourth-part ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.fourth-list {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fourth-list:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 2px 1px rgba(46, 47, 66, 0.08);
}

.fourt-list-img-text-container {
    position: relative;
    overflow: hidden;
}

.fourt-list-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fourth-list:hover .fourt-list-text {
    transform: translateY(0);
}  

.fourth-title-text-div {    
    padding: 32px 16px;
    border: 1px solid#e7e9fc;
    border-top: none;    
}

.fourth-subheading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    margin-bottom: 8px;    
}

.fourth-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455
}

/* FOOTER */
.footer {
    background-color: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    display: flex;
    align-items: baseline;
    margin-right: 120px;
}

.footer-logo-text-container {
    margin-right: 120px;
}

#footer-logo {
    display: inline-block;
    margin-bottom: 16px;
}

.span-footer {
    color: #f4f4fd;
}

.footer-text {
    line-height: 1.5;
    color:#f4f4fd;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.footer-social-media-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-social-media-ul {
    display: flex;
    gap: 16px;
}

.footer-social-media-button:hover,
.footer-social-media-button:focus {
    background-color: #31d0aa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .footer-form-container {
    padding-left: 100px;
} */

.footer-form-text {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.footer-mail-form {
    display: flex;
    gap: 24px;
}

.footer-mail-input {
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

.footer-mail-input::placeholder {
    color: #ffffff;
}

.footer-mail-button {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
}

.footer-mail-svg {
    margin-left: 16px;
}

/* MODAL WINDOW*/
.modal-window-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
                visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-window-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-button:hover,
.modal-window-button:focus {
    background-color: #404bbf;
    border: none;
}

.modal-window-svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window .modal-window-button:hover,
.modal-window .modal-window-button:focus {
    fill: #ffffff;
}

.modal-window-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal-window-form-div {
    margin-bottom: 8px;
}

.modal-window-form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.modal-window-input-symbol-div {
    position: relative;    
}

.modal-window-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-form-input:focus {
    border: 1px solid #4d5ae5;
}

.modal-window-form-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-form-input:focus + .modal-window-form-svg {
    fill: #4d5ae5;
}

.modal-window-form-comment-div {
    margin-bottom: 16px;
}

.modal-window-form-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-form-textarea:focus {
    border-color: #4d5ae5;
}

.modal-window-checkbox-div {
    margin-bottom: 24px;
}

.modal-window-checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;    
}

.modal-window-checkbox-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;}

.modal-window-checkbox-link {
    color: #4d5ae5;
}

.modal-window-form-button {
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: auto;  
}

.modal-window-checkbox-input:checked + .modal-window-checkbox-label .modal-window-checkbox-span {
    background-color: #404bbf;
    border: none;
    fill: #f4f4fd;
}
